<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/ITextContext/CreateBookingDetailsSuite.java">
        <classes>
            <class name="ITextContext.CreateBookingDetailsSuite">
                <methods><include name="createBooking"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/ITextContext/GetBookingDetailsSuite.java">
        <classes>
            <class name="ITextContext.GetBookingDetailsSuite">
                <methods><include name="getBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>