<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/DataShare/ThreadLocal22withDataAsMap.java">
        <classes><class name="DataShare.ThreadLocal22withDataAsMap">
            <methods>
                <include name="createBooking"/>
                <include name="getBookingById"/>
            </methods>
        </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/DataShare/TestModuleWithThreadLocalAsMap1.java">
        <classes>
            <class name="DataShare.TestModuleWithThreadLocalAsMap1">
                <methods>
                    <include name="createBooking"/>
                    <include name="getBookingById"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>