<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/RestfulBooker/DefaultValues1.java">
        <classes><class name="RestfulBooker.DefaultValues1">
            <methods><include name="createBooking1"/>
                <include name="createBooking11"/>
            </methods>
        </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="D:/KishanProject2025/RestAssuredWithRetargetCommon/src/main/java/RestfulBooker/DefaultValues2.java">
        <classes><class name="RestfulBooker.DefaultValues2">
            <methods>
                <include name="createBooking1"/>
                <include name="createBooking11"/>
            </methods></class>
        </classes>
    </test>
</suite>